# DataBase
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
# Aliyun OSS
ALIYUN_OSS_ENDPOINT=
ALIYUN_OSS_ACCESS_KEY_ID=
ALIYUN_OSS_ACCESS_KEY_SECRET=
ALIYUN_OSS_ACCESS_BUCKET_NAME=
# Nacos
NACOS_HOST=
NACOS_USERNAME=
NACOS_PASSWOR=
# Jwt Secret
JWT_SECRET=